/* font-family: 'Nanum Brush Script', cursive; */
@font-face {
      src: url("../fonts/JAPAB.ttf");
      font-family: 'JAPAB';
}
@font-face {
      src: url("../fonts/Brushido.ttf");
      font-family: 'brushido';
}


body, html{
  height: 100%
}

nav{
  height: 15vh;
  z-index: 1;
  background-color: rgba(42, 72, 116, 0.3);
}

nav ul a{
  font-family: 'Nanum Brush Script', cursive;
  font-size: 2rem;
}

.container{

  padding-top: 2vh;
  padding-bottom: 2vh;

}

.index_bg::before{

  position:absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  content: "";
  background-image: url("../img/bg2.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 200vh;
  filter: blur(5px);

}

.logo_size{
  height: 12vh;
  margin-top: 2vh;
  margin-left: 4vh;
  margin-right: 0vh;
}

.nav_ul{
  margin-top: 4vh;
  margin-left: 20vh;
  float: right;
}

.nothing{

  margin-top: 0vh;
  background-blend-mode: multiply;
  background-color: rgba(42, 72, 116, 0.8);

}

#geisha_text{

  height: 75vh;
  padding-top: 15vh;
  font-family: 'brushido', cursive;
  text-align: center;

}
#geisha_text h1{

  font-size: 20rem;
  font-weight: bolder;

}
