/* font-family: 'Nanum Brush Script', cursive; */



body, html{
  height: 100%
}

nav{
  height: 15vh;
  z-index: 1;
  background-color: rgba(42, 72, 116, 0.3);
}

nav ul a{
  font-family: 'Nanum Brush Script', cursive;
  font-size: 2rem;
}

.container{

  padding-top: 2vh;
  padding-bottom: 2vh;

}

.index_bg::before, .index_bg::after{

  position:absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  content: "";
  background-image: url("../img/bg2.jpg");
  background-size: contain;
  background-attachment: scroll;
  height: 100%;
  filter: blur(5px);

}

.logo_size{
  height: 12vh;
  margin-top: 2vh;
  margin-left: 4vh;
  margin-right: 0vh;
}

.nav_ul{
  margin-top: 3vh;
  margin-left: 20vh;
  float: right;
}

.nothing{

  margin-top: 75vh;
  background-blend-mode: multiply;
  background-color: rgba(42, 72, 116, 0.3);

}
