/* font-family: 'Nanum Brush Script', cursive; */
@font-face {
      src: url("../fonts/JAPAB.ttf");
      font-family: 'JAPAB';
}
@font-face {
      src: url("../fonts/Brushido.ttf");
      font-family: 'brushido';
}
@font-face {
      src: url("../fonts/Fujimaru.ttf");
      font-family: 'fujimaru';
}
@font-face {
      src: url("../fonts/embers.ttf");
      font-family: 'geisha';
}


body, html{
  /* height: 100vh; */
  width: 100%;
}

nav{
  height: 15vh;
  z-index: 1;

}

nav ul a{
  font-family: 'geisha', cursive;
  font-size: 4em;
  margin-left: 5vw;
}

.clip{
  /*
  Ensure background is added first
  */
  background: url("../img/patterns/arches_red.png");
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: repeat;
  z-index: 5;
}

.default_bg{

  margin-top: 0vh;
  background: url("../img/patterns/arches_red.png");
  background-clip: text;
  background-repeat: repeat;
  background-attachment: fixed;

}

.home_bg::before{

  position:absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  content: "";
  background-image: url("../img/Sessho.jpeg");
  height: 100%;
  background-size: cover;
  background-attachment: fixed;

}


.logo_size{
  top: 0vh;
  left: 0vw;
  height: 12vh;
  margin: 2vh 2vw;
  border: 0px;
  padding: 0px;
}

.mid_row{

  height: 60vh;
  margin-top:15vh;

}

.nav_ul{
  margin-top: 3.5vh;
  margin-left: 0vh;
  top: 0vh;
}

.sidenav{
  z-index: 200;
}


#geisha_text{

  margin-top: 0vh;
  height: 70vh;
  padding-top: 5vh;
  font-family: 'brushido', cursive;
  text-align: center;

}


#geisha_text h1{

  font-size: 32vw;
  font-weight: bold;

}




#art{
  margin-left: 0vw;
}


/* @media only screen and (max-width: 1080px) and (orientation: landscape) {
  #geisha_text h1{
    font-size: 18em;
  }
}
@media only screen and (max-width: 755px) and (orientation:landscape) {
  #geisha_text h1{
    font-size: 15em;
  }
} */
